.data {
	display: none;
}

.g-signin2 {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
}

img.tengah {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
Body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(https://i.pinimg.com/564x/79/26/f8/7926f85485117e8d62fa15b631eaee61.jpg) no-repeat;
    background-size: cover;
}
.btn{
    width: 100%;
    background: none;
    border: 2px solid #4caf50;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}
.tr{
	size: 400px;
}

.resizedTextbox {width: 1700px; height: 55px}